pandas 
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
seaborn
python-dotenv # It is used to call enviorment variables
pymongo[srv]==3.12.0
pymongo
certifi # It is used to call certifi which ensures that te connection is secure and from the trusted party
dvc # Data Version Control
dvc[all]
dagshub
fastapi
uvicorn
python-multipart
# -e .

